.custom-dialog-container {
    max-width: 1000px; 
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    background-color: #fff;
  }
  
  .form-title {
    color: #29624F;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    color: #29624F;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .form-group input:focus {
    border-color: #05AD75;
    outline: none;
    box-shadow: 0 0 5px rgba(5, 173, 117, 0.5);
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
  }
  
  button.mat-raised-button {
    background-color: #07ad76 !important;  /* Asegúrate de que este estilo no sea sobrescrito */
    color: white !important;
  }
  
  button.mat-raised-button:hover {
    background-color: #25a775 !important;
  }
  